.lost-angel-frontpage {
    background-image: url("../assets/images/LostAngelAnnouncement.png");
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    padding-top: 1in;
    padding-bottom: 1in; }
  