@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|IBM+Plex+Sans|Pacifico|Roboto&display=swap");

/* Fonts */
@font-face {
    font-family: PT_Sans;
    src: url("PT_Sans/PTSans-Regular.ttf");
}

@font-face {
    font-family: PT_Sans;
    src: url("PT_Sans/PTSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: PT_Sans;
    src: url("PT_Sans/PTSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: PT_Sans;
    src: url("PT_Sans/PTSans-Italic.ttf");
    font-style: italic;
}



/* Start CSS */
html,
body {
    margin: 0;
}

.material-icons {
    transition: 500ms;
}

/* Header */
.header-container {
    background-color: rgb(148, 148, 148);
}

/* Information Bar */

.information-wrapper {
    height: 60px;
    background-color: rgb(242, 242, 242);

    z-index: 99;
}

.logo-wrapper {
    width: 50%;
}

#logo {
    font-size: 26px;
    font-family: PT_Sans;
    font-weight: bold;
}

#subtitle {
    font-size: 16px;
    font-family: PT_Sans;
}

.alert-wrapper {
    position: absolute;
    display: flex;
    right: 50px;
    top: 10px;
}

.alert-icon {
    width: 75px;
    right: 0;
    text-align: center;
}

.alert-icon span {
    font-size: 45px;
    cursor: pointer;
}

#devWarning {
    animation-name: devWarning;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes devWarning {
    0% {
        color: black;
    }

    30% {
        color: black;
    }

    50% {
        color: rgb(204, 44, 44);
    }

    70% {
        color: black;
    }

    100% {
        color: black;
    }
}

@keyframes devWarningDeactivate {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

/* Navigation */
.navigation-wrapper {
    height: 36px;
    width: 60%;
    position: absolute;
    background-color: rgb(54, 54, 54);
    text-align: right;
    transform: translateX(100%);
    animation-name: none;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    z-index: -1;
    display: flex;
    right: 0;
}

@keyframes navAnimateIn {
    0% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes navAnimateOut {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-300%);
    }
}


.nav-item {
    color: #F2AEAE;
    flex-basis: 33.3%;
    font-size: 18px;
    text-align: center;
    font-family: "IBM Plex Sans";
    display: inline-block;
    transition: 250ms;
    border-left: rgba(210, 156, 217, 0) solid 3px;
    border-right: rgba(210, 156, 217, 0) solid 3px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #042626;
    border-color: white;
}

.nav-div {
    display: inline-block;
    font-size: 18px;
    color: #F2AEAE;
}

.navigation-wrapper div {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Header Content */
.header-wrapper {
    border: 10px solid rgb(245, 86, 133);
    background-color: rgb(245, 86, 133);
}
.header-content {
    padding: 1in;
    padding-top: 2in;
    padding-bottom: 2in;
    background-size: cover;
    background-position: center 28%;
    border-radius: 20px;
    display: flex;
}
.header-1 {
    font-family: PT_Sans;
}

.header-1 h1 {
    font-family: "IBM Plex Sans";
    color: rgb(242,242,242);
}
.header-1 h2 {
    color: rgb(189, 189, 189);
}

.header-2 {
    background-color: red;
    content: normal;
}
/* Build Information Styles */

.build-info {
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.479));
    position: absolute;
    bottom: 0;
    height: auto;
    right: 0;
    padding: 5px;
    width: 45%;
    text-align: center;
}

.build-info span {
    font-size: 16px;
}