@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|IBM+Plex+Sans|Pacifico|Roboto&display=swap");

/* Fonts */
@font-face {
    font-family: PT_Sans;
    src: url("fonts/PTSans-Regular.ttf");
}

@font-face {
    font-family: PT_Sans;
    src: url("fonts/PTSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: PT_Sans;
    src: url("fonts/PTSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: PT_Sans;
    src: url("fonts/PTSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Minecraft";
    src: url("fonts/Minecraftia-Regular.ttf");
}


/* Start CSS */
html,
body {
    margin: 0;
}

.blur {
	-webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.logo {
	font-size: 24px;
	color: white;
	font-family: PT_Sans;
}

h1 {
	font-family: PT_Sans;
	font-weight: bold;
	color: white;
}

h4 {
	color: white;
	font-family: Minecraft;
}

.navbar-item {
	background-color: rgba(247,101,173,0.00);
	border-radius: 10px;
	width: 150px;
	color: white;
	transition: .1s;
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-item:hover {
	background-color: rgba(247,101,173,1.00);
}

.nav-link {
	cursor: pointer;
}