@charset "utf-8";
/* Import fonts */
@import url("../fonts/fonts.css");
/* Global Styles */
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  color: #f5f5f5;
}
body {
  background-color: #dfdfdf;
}
.link {
  color: black;
  cursor: pointer;
  transition-duration: 235ms;
}
.link:hover {
  color: #e0a0c4;
  box-shadow: 0px -1.5px inset #e0a0c4;
}
.header {
  background-size: cover;
  background-position: center center;
  background-image: url('../images/Viella-TestRender-RiverTunnel2-Composite.png');
}
.header-pattern {
  background: rgba(242, 242, 242,.2);
  color:rgba(242, 242, 242, 0.11);
  background-blend-mode: multiply;
}
.header-content {
  text-align: center;
  color: white;
}
.header-top {
  background-color: rgba(25, 25, 25, 0.2);
  width: 100%;
}
.header-info {
  background-color: rgba(25, 25, 25, 0.5);
  display: inline-block;
  padding: 10px;
  font-family: "Source Code Pro";
}
.header-middle {
  width: 65%;
  min-width: 450px;
  background-color: rgba(255, 206, 236, 0.767);
  color: black;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  margin-top: 4em;
  margin-bottom: 4em;
}
.header-middle h1 {
  font-family: "PT_Sans";
}
.header-middle h2 {
  font-family: "Noto Sans";
}
.header-bottom {
  background-color: rgba(25, 25, 25, 0.2);
  display: inline-block;
}
.header-art {
  background-color: rgba(25, 25, 25, 0.2);
}
.navigation {
  background-color:rgba(25, 25, 25, 0.2);
}
.nav-content {
  text-align: center;
  letter-spacing: 0px;
  display: flex;
  justify-content: center;
}
.nav-item {
  padding: 7.5px;
  justify-content: center;
  font-family: "Noto Sans";
  min-width: 125px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  color: white;
  background-color: rgba(201, 35, 137, 0.5);
  transition-duration: 230ms;
  box-shadow: 0em 0em inset rgba(255, 255, 255);
  cursor: pointer;
}
.nav-item:hover {
  box-shadow: 0em -2.5em inset rgba(255, 255, 255);
  color: black;
}
.footer {
  background-color: #dedae8;
  color: #d0ccd9;
  border-top: 10px solid #d0ccd9;
  padding-bottom: 1em;
}
.clusterfuck {
  padding-bottom: 1em;
  display: flex;
  color: black;
}
.clusterfuck div {
  flex-basis: 33.33%;
  text-align: center;
  position: relative;
  color: black;
}
.clusterfuck div h4 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
}
.clusterfuck div div {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-top: 0.3em;
  color: black;
}
.clusterfuck div div span {
  color: black;
  cursor: pointer;
  transition-duration: 250ms;
}
.clusterfuck div div span:hover {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-top: 0.3em;
  color: #e08bbb;
  box-shadow: 0px -1.5px inset #e08bbb;
}
.trademarks {
  color: black;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  margin: 3em;
  padding-bottom: 1em;
}
/* Index.html */
.about {
  color: lightgrey;
  text-align: center;
}
.about-content {
  margin-right: 1in;
  margin-left: 1in;
  text-align: center;
  background-color:rgba(242, 242, 242, 0.5);
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.about-content h2 {
  background-color: black;
  color: #f5f5f5;
  width: 200px;
  display: inline-block;
  font-family: "PT_Sans";
}
.about-content p {
  color: black;
  font-family: "Open Sans";
}
/* Rig.html */
.rig-downloads {
  background-color:rgb(85, 18, 59);
  color:rgb(117, 26, 82);
  text-align: center;
}
.rig-content {
  color: white;
  margin-right: 1in;
  margin-left: 1in;
  padding: 20px;
  background-color:rgba(243, 197, 220, 0.274);
  background-size: cover;
  background-position: center 60%;
  background-image: url('../images/AmiasRender.jpg');
  background-blend-mode: multiply;
}
.rig-downloads h2 {
  background-color: rgba(0, 0, 0, 0.288);
  color: #ffffff;
  width: 300px;
  display: inline-block;
  font-family: "PT_Sans";
}
.rig-downloads p {
  margin-bottom: 30px;
  font-family: "Noto Sans";
}
.rig-downloads .hyperlinks {
  text-align: left;
  color: #dfdfdf;
}
.rig-downloads .hyperlinks ul li .link {
  color: #dfdfdf;
  cursor: pointer;
  transition-duration: 235ms;
}
.rig-downloads .hyperlinks ul li .link:hover {
  color: #e0a0c4;
  box-shadow: 0px -1.5px inset #e0a0c4;
}
.rig-downloads .rig-button {
  color: white;
  width: 200px;
  display: inline-block;
  padding: 5px;
  transition: 200ms ease-out;
  cursor: pointer;
  font-family: "Noto Sans";
  background-color: rgba(0,0,0,.75);
}
#stableRig {
  box-shadow: rgb(229, 240, 255) 0 -3px inset;
}
#experimentalRig {
  box-shadow: rgb(255, 229, 235) 0 -3px inset;
}
#stableRig:hover {
  box-shadow: rgb(229, 240, 255) 0 -3.3em inset;
  color: black;
}
#experimentalRig:hover {
  box-shadow: rgb(255, 229, 235) 0 -3.3em inset;
  color: black;
}
/* Global FAQ Styles */
.faq-content {
  color: black;
  text-align: center;
  margin-left: 1in;
  margin-right: 1in;
  background-color: rgba(242, 242, 242, 0.5);
}
.faq-content h2 {
  background-color: black;
  color: #f5f5f5;
  width: 200px;
  display: inline-block;
  font-family: "PT_Sans";
}
.faq-question {
  font-family: "Noto Sans";
  padding: 20px;
  padding-bottom: 25px;
}
.faq-question-head {
  background-color: rgba(25, 25, 25, 0.75);
  color: white;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
.faq-footer {
  font-family: "Source Code Pro";
  padding: 10px;
  background-color: black;
  color: white;
}

/* Contact */
.contact {
  color: lightgrey;
  text-align: center;
  background-color: #dfdfdf;
}
.contact-content {
  color: black;
  margin-right: 1in;
  margin-left: 1in;
  background-color:rgba(242, 242, 242, 0.5);
  padding: 10px;
}
.contact-content h2 {
  background-color: black;
  color: #f5f5f5;
  padding-right: 20px;
  padding-left: 20px;
  display: inline-block;
  font-family: "PT_Sans";
}
.flexbox-2 {
  display: flex;
}
.contact-item {
  flex-basis: 50%;
}
.sub-head {
  background-color: rgba(0, 0, 0, 0.144);
  color: #000;
  padding-right: 20px;
  padding-left: 20px;
  display: inline-block;
  font-family: "PT_Sans";
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 10px;
}