@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Comfortaa|IBM+Plex+Sans|Pacifico|Roboto&display=swap");
@import url("../fonts/fonts.css");

/* Start CSS */
html,
body {
    margin: 0;
}

rigs-dropdown {
    width: 100%;
    display: flex;
}

.rdp {
    flex-basis: 50%;

}

.rdp:before {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.header-contain {
    width: 100%;
    height: 5in;
}

.header-contain {
    height: 5in;
}

.header-logo {
    color: white;
    height: 1in;
}

.header-logo:before {
	-webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.header-content {
    width: 100%;
    top: 2in;
    position: absolute;
}

.header-content h1 {
	font-family: PT_Sans;
	font-weight: bold;
    color: white;
    text-indent: 1in;
}

.header-content h4 {
	color: white;
    font-family: Minecraft;
    text-indent: .75in;
}
