@charset "utf-8";
/* Import fonts */
@import url("../fonts/fonts.css");

:root {
  /* Extra's to add onto the Glass Theme, imported from SoW Skin Server page */
  /* Fonts */
  --primary-font: "Source Sans Pro";
  --secondary-font: "Noto Sans";
  --minecraft-font: "Minecraft";
  /* Transition Durations */
  --tgl-transition: 100ms;
  --login-field-transition: 240ms;
  --nav-transition: 200ms;
  /* Other fields */
  --radius-md: 10px;
  --radius-sm: 5px;
  --box-shadow: 0px 3px 5px -1px #00000033, 0px 5px 8px 0px #00000024,
    0px 1px 14px 0px #0000001f;
  --margin-base: 1in;

  /* Works Gallery Button Shit*/
  --works-button-width: 60vw;
  --works-button-height: calc(var(--works-button-width) / (24 / 9));
  --works-button-width-md: 75vw;
  --works-button-height-md: calc(var(--works-button-width-md) / (24 / 9));
  --works-button-width-sm: 90vw;
  --works-button-height-sm: calc(var(--works-button-width-sm) / (24 / 9));

  /* YouTube Embed Gallery */
  --youtube-embed-width: 35vw;
  --youtube-embed-height: calc(var(--youtube-embed-width) / (16 / 9));
  --youtube-embed-width-md: 50vw;
  --youtube-embed-height-md: calc(var(--youtube-embed-width-md) / (16 / 9));
  --youtube-embed-width-sm: 65vw;
  --youtube-embed-height-sm: calc(var(--youtube-embed-width-sm) / (16 / 9));

  /* DeviantArt Embed Gallery */
  --deviant-embed-width: 35vw;
  --deviant-embed-height: calc(var(--deviant-embed-width) / (16 / 9));
  --deviant-embed-width-md: 50vw;
  --deviant-embed-height-md: calc(var(--deviant-embed-width-md) / (16 / 9));
  --deviant-embed-width-sm: 65vw;
  --deviant-embed-height-sm: calc(var(--deviant-embed-width-sm) / (16 / 9));
}

* {
  transition-duration: 100ms;
  cursor: default;
}

/* Global Styles */
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  color: #f5f5f5;
}

body {
  background-color: #dfdfdf;
  transition-duration: 10ms;
}

/* Global Link Style */
.link,
a {
  color: black;
  cursor: pointer;
  transition-duration: 235ms;

  &:hover {
    color: #e0a0c4;
    box-shadow: 0px -1.5px inset #e0a0c4;
  }
}

/* Header Begin */
.header {
  background-size: cover;
  background-position: center center;
  height: fit-content;
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 0;

  .header-pattern {
    background-blend-mode: overlay;
    background-blend-mode: multiply;

    padding-bottom: 0;

    .header-content {
      text-align: center;
      color: black;

      padding-bottom: 0;

      /* Header Wrapper */
      .header-top {
        background-color: #ebebebb7;
        color: white;
        display: inline-block;
        width: 60%;
        min-width: 200px;
        text-align: center;
        font-family: var(--primary-font);
        margin-bottom: 5%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        overflow: hidden;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        box-shadow: var(--box-shadow);

        .header-info {
          color: black;
          font-weight: bold;
        }
      }

      /* Header Body */
      .header-middle {
        background-color: rgba(25, 25, 25, 0.8);
        display: inline-block;
        width: 80%;
        min-width: 400px;
        max-width: 720px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 3px 5px -1px #00000075, 0px 5px 8px 0px #00000079,
          0px 1px 14px 0px #00000036;
        backdrop-filter: blur(3px);
        margin-bottom: 5%;

        h1 {
          font-family: "Source Sans Pro";
          color: white;
          margin-bottom: 5px;
        }

        h2 {
          background-color: #f1f1f1;
          color: black;
          width: auto;
          display: inline-block;
          font-family: "PT_Sans";
          padding-left: 25px;
          padding-right: 25px;
          padding: 10px;
          box-shadow: var(--box-shadow);
          border-radius: 10px;
          background-image: linear-gradient(
            to top right,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.3)
          );
        }
      }

      /* Navigation */
      .nav-content {
        text-align: center;
        letter-spacing: 0px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        padding-bottom: 0;

        .nav-item {
          padding: 10px;
          justify-content: center;
          font-family: "Noto Sans";
          color: black;
          background-color: #ffffff25;
          transition-duration: 230ms;
          cursor: pointer;
          width: 125px;
          height: 20px;
          border-radius: 20px;
          margin-right: 2%;
          margin-left: 2%;
          box-shadow: var(--box-shadow);
          backdrop-filter: blur(3px);
          background-image: linear-gradient(
            to top right,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.3)
          );

          &:hover {
            background-color: rgba(255, 199, 231, 0.8);
            backdrop-filter: blur(10px);
            color: black;
            transform: scale(115%);
            background-image: linear-gradient(
              to top right,
              rgba(255, 255, 255, 0.1),
              rgba(255, 255, 255, 0.3)
            );
          }
        }
      }
    }
  }
}

/* Header Responsive */
@media screen and (max-width: 600px) {
  .header-top {
    width: 100%;
  }
}
/* Header End */

/* Footer begin */
.footer {
  background-color: #dedae8;
  color: #d0ccd9;
  border-top: 10px solid #d0ccd9;
  padding-bottom: 1em;

  .clusterfuck {
    padding-bottom: 1em;
    display: flex;
    color: black;

    div {
      flex-basis: 33.33%;
      text-align: center;
      position: relative;
      color: black;

      h4 {
        font-family: "Open Sans", sans-serif;
        margin-bottom: 0;
      }

      div {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        margin-top: 0.3em;
        color: black;

        span {
          color: black;
          cursor: pointer;
          transition-duration: 250ms;

          &:hover {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            margin-top: 0.3em;
            color: #e08bbb;
            box-shadow: 0px -1.5px inset #e08bbb;
          }
        }
      }
    }
  }

  .trademarks {
    color: black;
    font-family: "Source Code Pro", monospace;
    font-size: 12px;
    margin: 3em;
    padding-bottom: 1em;
  }
}
/* Footer End */

/* Home page Begin */
.about {
  color: lightgrey;
  text-align: center;

  .about-content {
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    background-color: rgba(242, 242, 242, 0.5);
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: var(--box-shadow);

    h2 {
      background-color: rgba(0, 0, 0, 0.884);
      border-radius: 15px;
      color: #f5f5f5;
      width: 200px;
      display: inline-block;
      font-family: "PT_Sans";

      box-shadow: var(--box-shadow);
    }

    p {
      color: black;
      font-family: "Open Sans";
      text-align: center;
    }

    .p2 {
      display: flex;

      img {
        width: 48%;
        height: fit-content;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
      }
      .text {
        width: 50%;
        margin-left: 3%;
      }
    }
  }
}
/* Index.html End */

/* Begin Rigs.html stuff */
.featured-rig {
  color: black;
  margin-top: 0px;
  padding-top: 0px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: inline-block;
  border-top: 5px solid white;
  border-image: 5px
    linear-gradient(
      to top right,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.7)
    );
  width: 100%;

  .content-contain {
    background-color: rgba(255, 228, 233, 0.39);
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(
      to bottom right,
      rgba(255, 228, 233, 0.075),
      rgba(255, 228, 233, 0.568)
    );

    .title {
      border-radius: 20px;
      margin: 5px;
      text-align: left;
      padding: 10px;
      padding-top: 1px;
      margin-top: 20px;
      background-image: linear-gradient(
        to top right,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.7)
      );
      backdrop-filter: blur(5px);
      box-shadow: var(--box-shadow);
      text-align: center;
      max-width: 865px;
      display: inline-block;

      h1 {
        font-family: "Noto Sans";
      }

      p {
        font-family: "Source Sans Pro";
      }
    }

    .download-rigs {
      display: flex;
      justify-content: center;

      .col {
        flex-basis: 50%;
        border-radius: 20px;
        height: 425px;
        margin: 5px;
        text-align: left;
        max-width: fit-content;
        padding: 10px;
        background-image: linear-gradient(
          to top right,
          rgba(255, 255, 255, 0.1),
          rgba(255, 255, 255, 0.7)
        );
        backdrop-filter: blur(5px);
        box-shadow: var(--box-shadow);

        h2 {
          text-align: center;
          font-family: "Open Sans";
          margin-bottom: 0;
          padding-bottom: 0;
        }
        h3 {
          text-align: center;
          font-family: "Open Sans";
          margin-top: 0;
          color: rgb(49, 49, 49);
        }

        p {
          font-family: "Source Code Pro";
          text-align: center;
          max-width: 400px;
          font-size: 14px;
          height: 200px;
        }
        .download-rig {
          text-align: center;
          .download-btn {
            padding: 10px;
            justify-content: center;
            font-family: "Noto Sans";
            color: black;
            background-color: #ffffff25;
            transition-duration: 230ms;
            cursor: pointer;
            width: 150px;
            height: 20px;
            border-radius: 20px;
            margin-right: 2%;
            margin-left: 2%;
            box-shadow: var(--box-shadow);
            backdrop-filter: blur(3px);

            background-color: rgba(199, 223, 255, 0.8);
            background-image: linear-gradient(
              to top right,
              rgba(255, 255, 255, 0.1),
              rgba(255, 255, 255, 0.3)
            );
            display: inline-block;

            &:hover {
              background-color: rgba(116, 191, 241, 0.8);
              backdrop-filter: blur(10px);
              color: black;
              transform: scale(115%);
              background-image: linear-gradient(
                to top right,
                rgba(255, 255, 255, 0.1),
                rgba(255, 255, 255, 0.3)
              );
            }
          }
          .download-btn-na {
            padding: 10px;
            justify-content: center;
            font-family: "Noto Sans";
            color: black;
            background-color: #ffffff25;
            transition-duration: 230ms;
            cursor: default;
            width: 150px;
            height: 20px;
            border-radius: 20px;
            margin-right: 2%;
            margin-left: 2%;
            box-shadow: var(--box-shadow);
            backdrop-filter: blur(3px);
            background-image: linear-gradient(
              to top right,
              rgba(255, 255, 255, 0.1),
              rgba(255, 255, 255, 0.3)
            );
            display: inline-block;
          }
        }
      }
    }
  }
}

/* Contacts Page */
.contact {
  margin: 0;
  margin-right: var(--margin-base);
  margin-left: var(--margin-base);
  background-color: #f5f5f5;
  box-shadow: var(--box-shadow);
  padding-top: 1px;
  padding-bottom: 1px;

  .email-stuff {
    text-align: center;
    border-bottom: 3px dashed rgb(114, 114, 114);
    padding-right: 10%;
    padding-left: 10%;
    line-height: 30px;

    h2 {
      background-color: rgba(0, 0, 0, 0.884);
      border-radius: 15px;
      color: #f5f5f5;
      width: auto;
      display: inline-block;
      font-family: "PT_Sans";
      padding-left: 30px;
      padding-right: 30px;

      box-shadow: var(--box-shadow);
    }

    p {
      color: black;
      font-family: "Noto Sans";

      a {
        background-color: rgba(25, 25, 25, 0.25);
        font-family: "Source Code Pro";
        color: black;
        cursor: pointer;
        transition-duration: 235ms;
        padding: 3px;
        border-radius: 5px;

        &:hover {
          color: #ffd6ed;
          box-shadow: 0px -1.5px inset #ffd6ed;
        }
      }
    }
  }

  .discord-stuff {
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
    line-height: 30px;

    h2 {
      background-color: rgba(0, 0, 0, 0.884);
      border-radius: 15px;
      color: #f5f5f5;
      width: auto;
      display: inline-block;
      font-family: "PT_Sans";
      padding-left: 30px;
      padding-right: 30px;

      box-shadow: var(--box-shadow);
    }

    p {
      color: black;
      font-family: "Noto Sans";

      a {
        background-color: rgba(25, 25, 25, 0.25);
        font-family: "Source Code Pro";
        color: black;
        cursor: pointer;
        transition-duration: 235ms;
        padding: 3px;
        border-radius: 5px;

        &:hover {
          color: #ffd6ed;
          box-shadow: 0px -1.5px inset #ffd6ed;
        }
      }
    }
  }
}

/* Responsive Shit */
@media screen and (max-width: 1020px) {
  .about-content .p2 {
    display: initial;
  }

  .about-content .p2 img {
    width: 80%;
    height: fit-content;
  }

  .featured-rig .content-contain .features .col li {
    line-height: 20px;
  }

  .about-content .p2 .text {
    width: 100%;
    margin-left: 0%;
  }
}

@media screen and (max-width: 720px) {
  .about-content {
    margin-left: 5%;
    margin-right: 5%;
  }

  .featured-rig .content-contain {
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media screen and (max-width: 660px) {
  .featured-rig .content-contain .features {
    display: block;
  }

  .featured-rig .content-contain .features .col {
    max-width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .about-content {
    margin-left: 0%;
    margin-right: 0%;
  }
}
