@import url("../fonts/fonts.css");

$header-height: 4in;
$light: #fff5f5;
$shade: rgba(25, 25, 25, 0.5);
$nav-border: pink;
// Hello World
// Universal
html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "Open Sans";
}
.links {
	color: white;
	text-decoration: none;
	transition: 500ms;
}
.links:hover {
	text-decoration: underline;
	cursor: pointer;
}
// Rig Dropdown
rigs-dropdown[id="rdp"] {
	width: 100%;
	display: flex;
	position: absolute;
	z-index: 999;

	height: 0in;
	overflow: hidden;
	transition: 500ms;
	.close-rdp {
		position: absolute;
		color: white;
		font-size: 48px;
		width: 30px;
		cursor: pointer;
		right: -0.2in;
		opacity: 0;

		transition: 500ms;
	}
	.rdp {
		flex-basis: 50%;
		background-color: rgba(0, 0, 0, 0.2);
		background-blend-mode: multiply;
		transition: 500ms;
		background-size: 115%;

		.material-icons.md-36 {
			font-size: 36px;
		}

		.rdp-title {
			text-align: center;
			color: white;
			font-family: Minecraft;
			height: 100%;
		}

		.rdp-title h2 {
			position: relative;
			top: 0in;
			opacity: 0;

			transition: 500ms;
		}

		.rdp-btn {
			position: relative;
			top: 1.2in;
			width: 150px;
			border: 3px solid white;
			margin: 0 auto;
			padding-top: 10px;
			padding-bottom: 0px;
			background-color: rgba(255, 255, 255, 0);
			transition: 500ms;
			cursor: pointer;
			border-radius: 15px;
		}
		.rdp-btn:hover {
			background-color: rgba(255, 255, 255, 1);
			border-radius: 3px;
			color: black;
		}

		.opacity-100 {
			opacity: 100%;
		}
	}

	.rdp:hover {
		background-color: rgba(0, 0, 0, 0.5);
		background-size: 125%;
	}
}

// Header Stuff
.header-contain {
	width: 100%;
	height: $header-height;
	background-size: cover;

	// Navigation
	.navigation {
		height: 32px;
		display: flex;

		// Navigation Logo Stuffs
		.nav-logo {
			display: flex;
			flex-basis: 50%;
			min-width: 200px;
			height: 47px;
			position: absolute;

			.logoIco {
				width: 47px;
				content: url("https://sakura-sedaia.com/assets/images/Favicon/favicon-32x32.png");
			}

			.logoTxt {
				padding-left: 10px;
				overflow-y: hidden;
				padding-top: 10px;
				height: 36px;
				color: $light;
				font-family: Minecraft;
				position: relative;
				transform: translatex(10px);
				border-right: 3px solid $nav-border;
				padding-right: 20px;
				width: 140px;

				span {
					position: absolute;
					transform: translateY(2px);
				}
			}
		}

		// Navbar Styles
		.nav-contain {
			display: flex;
			width: 50vw;
			height: 100%;
			right: 0;

			position: absolute;

			// Navigational Items
			.nav-item {
				flex-basis: 25%;
				border-bottom: 5px solid rgba(255, 255, 255, 0);
				overflow-y: hidden;
				height: 32px;
				padding-top: 10px;
				background-color: rgba(0, 0, 0, 0);
				text-align: center;
				color: $light;
				transition: 500ms;
				cursor: pointer;
				font-family: "Noto Sans JP";
				font-size: 16px;
			}
			.nav-item[active="true"] {
				border-bottom: 5px solid;
				background-color: rgba(255, 255, 255, 1);
				color: black;
				border-color: $nav-border;
			}
			.nav-item:hover {
				border-bottom: 5px solid $nav-border;
				flex-basis: 25%;
				overflow-y: hidden;
				padding-top: 10px;
				background-color: $shade;
			}
			// End Navigational Items
		}
	}

	// Header Content
	.header-text {
		position: absolute;
		transform: translateY(1in);

		h1 {
			font-family: PT_Sans;
			font-weight: bold;
			color: $light;
			text-indent: 1in;
		}
		h4 {
			color: $light;
			font-family: Minecraft;
			text-indent: 0.75in;
		}
	}
}

.xmasCounter {
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	padding: 10px;
	background-color: rgba(223,223,223,1.00);
}

.dev-warning {
	border-top: 2px solid #fff022;
	border-bottom: 2px solid #fff022;
	padding: 10px;
	background-color: rgb(255, 238, 2);
	color: black;
	font-family: "Open Sans";
	
	strong {
		font-family: "Noto Sans JP";
	}
}

.deprication-warning {
	border-top: 2px solid #ff2222;
	border-bottom: 2px solid #ff2222;
	padding: 10px;
	background-color: rgb(173, 0, 0);
	color: white;
	font-family: "Open Sans";
	
	strong {
		font-family: "Noto Sans JP";
	}
}

// Index.html stuff
.index-content-section {
	.about {
		.title {
			font-size: 20px;
		}
		p {
			font-size: 14px;
		}
	}

	.updates {
		/* Unused Stuff */
		content: none;
	}
}

// sacr-rig.html and slacme-rig.html stuff
// About the Rig
.about-sacr {
	.title-sacr {
		width: 100%;
		height: 100%;

		.title-text {
			position: absolute;
			z-index: 0;
			padding-left: 30px;
			padding-right: 30px;
			transform: translate(1in, 2in);
			border-radius: 10px;
			background-color: #00000090;

			h1 {
				font-family: PT_Sans;
				text-indent: 1in;
				color: white;
			}
			h3 {
				font-family: Minecraft;
				font-size: 16px;

				color: white;
			}
		}
		.title-bg {
			content: inherit;
			background-color: #fff5f525;
			background-blend-mode: overlay;
			width: 100%;
			height: 5.25in;
			z-index: -1;
			overflow: hidden;
			background-position: 0in -2.5in;
		}
	}
}

// Download Features
.rig-download-section {
	height: 2in;
	background-color: #333;
	text-align: center;
	padding: 1in;
	color: #fff5f5;
	display: flex;

	h1 {
		font-family: PT_Sans;
	}
	span {
		font-family: "Roboto";
	}
	
	.download-lr {
		background-color: transparent;
		border: none;
		border-radius: 0.3rem;
		-webkit-box-shadow: inset 0 0 0 2px #fff;
		box-shadow: inset 0 0 0 2px #fff;
		color: #fff !important;
		display: block;
		padding-bottom: 7px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 7px;
		text-decoration: none !important;
		-webkit-transition: color 250ms ease-out, background-color 150ms ease-in-out,
			-webkit-box-shadow 150ms ease-in-out;
		transition: color 250ms ease-out, background-color 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
		-o-transition: color 250ms ease-out, background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
		transition: color 250ms ease-out, background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
		transition: color 250ms ease-out, background-color 150ms ease-in-out, box-shadow 150ms ease-in-out,
			-webkit-box-shadow 150ms ease-in-out;
		white-space: nowrap;
		background-color: #13b6fb;
		-webkit-box-shadow: 0 4px 0 0 #04a7eb;
		box-shadow: 0 4px 0 0 #04a7eb;
		font-size: 1.5rem;
		width: 250px;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 10px;
		font-family: PT_Sans;
		cursor: pointer;
	}
	.download-lr:hover {
		background-color: #13b6fb95;
		-webkit-box-shadow: 0 4px 0 0 #04a7eb95;
		box-shadow: 0 4px 0 0 #04a7eb95;
	}
	.download-extra {
		text-decoration: none;
	}
	.download-extra:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	.rds-col {
		flex-basis: 50%;

		img {
			position: relative;
			transform: translateY(-15%);
		}
	}
	.rds-background {
		flex-basis: 25%;
		min-width: 600px;
	}

}

// Highlight Features
.features-sacr {
	margin-left: 1in;
	margin-right: 1in;

	h2 {
		font-family: PT_Sans;
		text-align: center;
		font-size: 36px;
	}

	.highlight-features {
		width: 1000px;
		margin: 0 auto;
		background-color: #f3f3f3;
		padding: 10px;
		h2 {
			text-align: left;
			font-size: 24px;
		}
		.row-1-col {
			.feat-overlay {
				font-family: "Noto Sans JP";
				height: 100px;
			}
		}
	}
}

// Rig Navigation Stuffs
$rig-nav-border-radius: 10px;
$sacr-hover: rgb(255, 180, 200);
$slacme-hover: rgb(0, 180, 200);
$transition-duration: 250ms;
$sacrBackgroundImage: url("https://sakura-sedaia.com/assets/images/MCRigBackgrouns/SACRThumbnail3.PNG");
$slacmeBackgroundImage: url("https://sakura-sedaia.com/assets/images/MCRigBackgrouns/LACMThumbnail1.PNG");
$browserBackground: url("https://sakura-sedaia.com/assets/images/MCRigBackgrouns/OreBackground.png");

// Default Desktop Style for the Card based Navigation
.cards-container {
	text-align: center;
	background-image: $browserBackground;
	padding: 1in;
	transition: $transition-duration;
	.cards-list-item-outer {
		display: inline-block;

		position: relative;

		.cards-list-item-inner {
			// Actual Card CSS
			cursor: pointer;
			transition: $transition-duration;
			background-color: rgba(25, 25, 25, 0.5);
			color: white;
			width: 400px;
			font-family: PT_Sans;
			border-radius: $rig-nav-border-radius;

			.cards-list-item-thumbnail {
				width: 400px;
				height: 225px;

				transition: $transition-duration;
				margin-bottom: 20px;
				border-bottom: 4px solid;
				border-top-right-radius: $rig-nav-border-radius;
				border-top-left-radius: $rig-nav-border-radius;
			}
			.sacr-thumbnail {
				background-image: $sacrBackgroundImage;
				background-size: cover;
				background-position: center;
				border-color: white;
				transition: $transition-duration;
			}
			.slacme-thumbnail {
				background-image: $slacmeBackgroundImage;
				background-size: cover;
				background-position: center;
				border-color: white;
				transition: $transition-duration;
			}

			.cards-list-item-info {
				position: relative;
				text-align: center;
				height: 160px;
				.cards-list-item-title {
					font-size: 20pt;
					transition: $transition-duration;
				}
				.cards-list-item-excerp {
					font-size: 12pt;

					.links {
						transition: $transition-duration;
					}
				}
			}
		}
		.cards-list-item-inner:hover {
			background-color: rgba(0, 0, 0, 0.7);
			
			// Set Color of Thumbnail Border
			.sacr-thumbnail {
				border-bottom-color: $sacr-hover;
			}
			.slacme-thumbnail {
				border-bottom-color: $slacme-hover;
			}

			// Set Color of Title Text
			.sacr-title {
				color: $sacr-hover;
			}
			.slacme-title {
				color: $slacme-hover;
			}

			// Set Color of Links
			.sacr-link {
				color: $sacr-hover;
			}
			.slacme-link {
				color: $slacme-hover;
			}
		}

		// Define backgrounds for Mobile Layout
		.sacr-background::before {
			content: "";
			background-image: $sacrBackgroundImage;
			background-position: center;
			background-size: cover;
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			opacity: 0%;
			transition: $transition-duration;
		}
		.slacme-background::before {
			content: "";
			background-image: $slacmeBackgroundImage;
			background-position: center;
			background-size: cover;
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			opacity: 0%;
			transition: $transition-duration;
		}
	}
}


// Start Mobile Layout
@media screen and (max-width: 540px) {
	.cards-container {
		padding: 0;
		width: 100%;

		.cards-list-item-outer {
			display: block;

			.cards-list-item-inner {
				width: 100%;
				border-radius: 0;
				background-blend-mode: multiply;

				.cards-list-item-thumbnail {
					border-bottom: 0px solid white;
					height: 10px;
					width: 100%;
				}
				.sacr-thumbnail {
					opacity: 0%;
				}
				.slacme-thumbnail {
					opacity: 0%;
				}
			}

			// Rig Backgrounds
			.sacr-background::before {
				background-image: $sacrBackgroundImage;
				background-position: center;
				background-size: cover;

				opacity: 100%;
			}
			.slacme-background::before {
				background-image: $slacmeBackgroundImage;
				background-position: center;
				background-size: cover;
				opacity: 100%;
			}
		}
	}
}