@import url("../fonts/fonts.css");
/* line 9, main_style.scss */
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
}

/* line 16, main_style.scss */
.links {
  color: pink;
  text-decoration: underline;
}

/* line 22, main_style.scss */
rigs-dropdown[id="rdp"] {
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 999;
  height: 0in;
  overflow: hidden;
  transition: 500ms;
}
/* line 31, main_style.scss */
rigs-dropdown[id="rdp"] .close-rdp {
  position: absolute;
  color: white;
  font-size: 48px;
  width: 30px;
  cursor: pointer;
  right: -0.2in;
  opacity: 0;
  transition: 500ms;
}
/* line 42, main_style.scss */
rigs-dropdown[id="rdp"] .rdp {
  flex-basis: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  transition: 500ms;
  background-size: 115%;
}
/* line 49, main_style.scss */
rigs-dropdown[id="rdp"] .rdp .material-icons.md-36 {
  font-size: 36px;
}
/* line 53, main_style.scss */
rigs-dropdown[id="rdp"] .rdp .rdp-title {
  text-align: center;
  color: white;
  font-family: Minecraft;
  height: 100%;
}
/* line 60, main_style.scss */
rigs-dropdown[id="rdp"] .rdp .rdp-title h2 {
  position: relative;
  top: 0in;
  opacity: 0;
  transition: 500ms;
}
/* line 68, main_style.scss */
rigs-dropdown[id="rdp"] .rdp .rdp-btn {
  position: relative;
  top: 1.2in;
  width: 150px;
  border: 3px solid white;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: rgba(255, 255, 255, 0);
  transition: 500ms;
  cursor: pointer;
  border-radius: 15px;
}
/* line 81, main_style.scss */
rigs-dropdown[id="rdp"] .rdp .rdp-btn:hover {
  background-color: white;
  border-radius: 3px;
  color: black;
}
/* line 87, main_style.scss */
rigs-dropdown[id="rdp"] .rdp .opacity-100 {
  opacity: 100%;
}
/* line 92, main_style.scss */
rigs-dropdown[id="rdp"] .rdp:hover {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 125%;
}

/* line 99, main_style.scss */
.header-contain {
  width: 100%;
  height: 4in;
  background-size: cover;
}
/* line 105, main_style.scss */
.header-contain .navigation {
  height: 32px;
  display: flex;
}
/* line 110, main_style.scss */
.header-contain .navigation .nav-logo {
  display: flex;
  flex-basis: 50%;
  min-width: 200px;
  height: 47px;
  position: absolute;
}
/* line 117, main_style.scss */
.header-contain .navigation .nav-logo .logoIco {
  width: 47px;
  content: url("https://sakura-sedaia.com/assets/images/Favicon/favicon-32x32.png");
}
/* line 122, main_style.scss */
.header-contain .navigation .nav-logo .logoTxt {
  padding-left: 10px;
  overflow-y: hidden;
  padding-top: 10px;
  height: 36px;
  color: #fff5f5;
  font-family: Minecraft;
  position: relative;
  transform: translatex(10px);
  border-right: 3px solid pink;
  padding-right: 20px;
  width: 140px;
}
/* line 135, main_style.scss */
.header-contain .navigation .nav-logo .logoTxt span {
  position: absolute;
  transform: translateY(2px);
}
/* line 143, main_style.scss */
.header-contain .navigation .nav-contain {
  display: flex;
  width: 50vw;
  height: 100%;
  right: 0;
  position: absolute;
}
/* line 152, main_style.scss */
.header-contain .navigation .nav-contain .nav-item {
  flex-basis: 25%;
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  overflow-y: hidden;
  height: 32px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: #fff5f5;
  transition: 500ms;
  cursor: pointer;
  font-family: "Noto Sans JP";
  font-size: 16px;
}
/* line 166, main_style.scss */
.header-contain .navigation .nav-contain .nav-item[active="true"] {
  border-bottom: 5px solid;
  background-color: white;
  color: black;
  border-color: pink;
}
/* line 172, main_style.scss */
.header-contain .navigation .nav-contain .nav-item:hover {
  border-bottom: 5px solid pink;
  flex-basis: 25%;
  overflow-y: hidden;
  padding-top: 10px;
  background-color: rgba(25, 25, 25, 0.5);
}
/* line 184, main_style.scss */
.header-contain .header-text {
  position: absolute;
  transform: translateY(1in);
}
/* line 188, main_style.scss */
.header-contain .header-text h1 {
  font-family: PT_Sans;
  font-weight: bold;
  color: #fff5f5;
  text-indent: 1in;
}
/* line 194, main_style.scss */
.header-contain .header-text h4 {
  color: #fff5f5;
  font-family: Minecraft;
  text-indent: 0.75in;
}

/* line 202, main_style.scss */
.xmasCounter {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  padding: 10px;
  background-color: #dfdfdf;
}

/* line 209, main_style.scss */
.dev-warning {
  border-top: 2px solid #fff022;
  border-bottom: 2px solid #fff022;
  padding: 10px;
  background-color: #ffee02;
  color: black;
  font-family: "Open Sans";
}
/* line 217, main_style.scss */
.dev-warning strong {
  font-family: "Noto Sans JP";
}

/* line 221, main_style.scss */
.deprication-warning {
  border-top: 2px solid #ff2222;
  border-bottom: 2px solid #ff2222;
  padding: 10px;
  background-color: #ad0000;
  color: white;
  font-family: "Open Sans";
}
/* line 229, main_style.scss */
.deprication-warning strong {
  font-family: "Noto Sans JP";
}

/* line 237, main_style.scss */
.index-content-section .about .title {
  font-size: 20px;
}
/* line 240, main_style.scss */
.index-content-section .about p {
  font-size: 14px;
}

/* line 249, main_style.scss */
.about-sacr .title-sacr {
  width: 100%;
  height: 100%;
}
/* line 253, main_style.scss */
.about-sacr .title-sacr .title-text {
  position: absolute;
  z-index: 0;
  padding-left: 30px;
  padding-right: 30px;
  transform: translate(1in, 2in);
  border-radius: 10px;
  background-color: #00000090;
}
/* line 262, main_style.scss */
.about-sacr .title-sacr .title-text h1 {
  font-family: PT_Sans;
  text-indent: 1in;
  color: white;
}
/* line 267, main_style.scss */
.about-sacr .title-sacr .title-text h3 {
  font-family: Minecraft;
  font-size: 16px;
  color: white;
}
/* line 274, main_style.scss */
.about-sacr .title-sacr .title-bg {
  content: inherit;
  background-color: #fff5f525;
  background-blend-mode: overlay;
  width: 100%;
  height: 5.25in;
  z-index: -1;
  overflow: hidden;
  background-position: 0in -2.5in;
}

/* line 288, main_style.scss */
.rig-download-section {
  height: 2in;
  background-color: #333;
  text-align: center;
  padding: 1in;
  color: #fff5f5;
  display: flex;
}
/* line 296, main_style.scss */
.rig-download-section h1 {
  font-family: PT_Sans;
}
/* line 299, main_style.scss */
.rig-download-section span {
  font-family: "Roboto";
}
/* line 303, main_style.scss */
.rig-download-section .download-lr {
  background-color: transparent;
  border: none;
  border-radius: 0.3rem;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff !important;
  display: block;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  text-decoration: none !important;
  -webkit-transition: color 250ms ease-out, background-color 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
  transition: color 250ms ease-out, background-color 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
  -o-transition: color 250ms ease-out, background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
  transition: color 250ms ease-out, background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
  transition: color 250ms ease-out, background-color 150ms ease-in-out, box-shadow 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
  white-space: nowrap;
  background-color: #13b6fb;
  -webkit-box-shadow: 0 4px 0 0 #04a7eb;
  box-shadow: 0 4px 0 0 #04a7eb;
  font-size: 1.5rem;
  width: 250px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: PT_Sans;
  cursor: pointer;
}
/* line 335, main_style.scss */
.rig-download-section .download-lr:hover {
  background-color: #13b6fb95;
  -webkit-box-shadow: 0 4px 0 0 #04a7eb95;
  box-shadow: 0 4px 0 0 #04a7eb95;
}
/* line 340, main_style.scss */
.rig-download-section .download-extra {
  text-decoration: none;
}
/* line 343, main_style.scss */
.rig-download-section .download-extra:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* line 347, main_style.scss */
.rig-download-section .rds-col {
  flex-basis: 50%;
}
/* line 350, main_style.scss */
.rig-download-section .rds-col img {
  position: relative;
  transform: translateY(-15%);
}
/* line 355, main_style.scss */
.rig-download-section .rds-background {
  flex-basis: 25%;
  min-width: 600px;
}

/* line 362, main_style.scss */
.features-sacr {
  margin-left: 1in;
  margin-right: 1in;
}
/* line 366, main_style.scss */
.features-sacr h2 {
  font-family: PT_Sans;
  text-align: center;
  font-size: 36px;
}
/* line 372, main_style.scss */
.features-sacr .highlight-features {
  width: 1000px;
  margin: 0 auto;
  background-color: #f3f3f3;
  padding: 10px;
}
/* line 377, main_style.scss */
.features-sacr .highlight-features h2 {
  text-align: left;
  font-size: 24px;
}
/* line 382, main_style.scss */
.features-sacr .highlight-features .row-1-col .feat-overlay {
  font-family: "Noto Sans JP";
  height: 100px;
}

/*# sourceMappingURL=main_style.css.map */
