/* line 2, rigs.scss */
.about-sacr .title-sacr {
  width: 100%;
  height: 100%;
}
/* line 6, rigs.scss */
.about-sacr .title-sacr .title-text {
  position: absolute;
  z-index: 0;
  padding-left: 30px;
  padding-right: 30px;
  transform: translate(1in, 2in);
  border-radius: 10px;
  background-color: #00000090;
}
/* line 15, rigs.scss */
.about-sacr .title-sacr .title-text h1 {
  font-family: PT_Sans;
  text-indent: 1in;
  color: white;
}
/* line 21, rigs.scss */
.about-sacr .title-sacr .title-text h3 {
  font-family: Minecraft;
  font-size: 16px;
  color: white;
}
/* line 29, rigs.scss */
.about-sacr .title-sacr .title-bg {
  content: inherit;
  background-color: #fff5f525;
  background-blend-mode: overlay;
  width: 100%;
  height: 5.25in;
  z-index: -1;
  overflow: hidden;
  background-position: 0in -2.5in;
}

/* line 43, rigs.scss */
.rig-download-section {
  height: 2in;
  background-color: #333;
  text-align: center;
  padding: 1in;
  color: #fff5f5;
  display: flex;
}
/* line 51, rigs.scss */
.rig-download-section h1 {
  font-family: PT_Sans;
}
/* line 55, rigs.scss */
.rig-download-section span {
  font-family: "Roboto";
}
/* line 59, rigs.scss */
.rig-download-section .download-lr {
  background-color: transparent;
  border: none;
  border-radius: 0.3rem;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff !important;
  display: block;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  text-decoration: none !important;
  -webkit-transition: color 250ms ease-out, background-color 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
  transition: color 250ms ease-out, background-color 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
  -o-transition: color 250ms ease-out, background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
  transition: color 250ms ease-out, background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
  transition: color 250ms ease-out, background-color 150ms ease-in-out, box-shadow 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
  white-space: nowrap;
  background-color: #13b6fb;
  -webkit-box-shadow: 0 4px 0 0 #04a7eb;
  box-shadow: 0 4px 0 0 #04a7eb;
  font-size: 1.5rem;
  width: 250px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: PT_Sans;
  cursor: pointer;
}
/* line 92, rigs.scss */
.rig-download-section .download-lr:hover {
  background-color: #13b6fb95;
  -webkit-box-shadow: 0 4px 0 0 #04a7eb95;
  box-shadow: 0 4px 0 0 #04a7eb95;
}
/* line 98, rigs.scss */
.rig-download-section .download-extra {
  text-decoration: none;
}
/* line 102, rigs.scss */
.rig-download-section .download-extra:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* line 107, rigs.scss */
.rig-download-section .rds-col {
  flex-basis: 50%;
}
/* line 110, rigs.scss */
.rig-download-section .rds-col img {
  position: relative;
  transform: translateY(-15%);
}
/* line 116, rigs.scss */
.rig-download-section .rds-background {
  flex-basis: 25%;
  min-width: 600px;
}

/* line 124, rigs.scss */
.features-sacr {
  margin-left: 1in;
  margin-right: 1in;
}
/* line 128, rigs.scss */
.features-sacr h2 {
  font-family: PT_Sans;
  text-align: center;
  font-size: 36px;
}
/* line 134, rigs.scss */
.features-sacr .highlight-features {
  width: 1000px;
  margin: 0 auto;
  background-color: #f3f3f3;
  padding: 10px;
}
/* line 140, rigs.scss */
.features-sacr .highlight-features h2 {
  text-align: left;
  font-size: 24px;
}
/* line 146, rigs.scss */
.features-sacr .highlight-features .row-1-col .feat-overlay {
  font-family: "Noto Sans JP";
  height: 100px;
}

/*# sourceMappingURL=rigs.css.map */
