/* Import Base Site */
@import url("../../assets/fonts/fonts.css");

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

h1 {
    font-family: "PT_Sans";
}

h2 {
    font-family: "Noto Sans JP", sans-serif;
    background-color: rgb(124, 59, 217);
    background: linear-gradient(42deg,
            rgb(107, 95, 124) 0%,
            rgba(146, 59, 217, 1) 100%);
    display: inline-block;
    width: auto;
    text-align: center;
    color: #f5f5f5;
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
    font-family: "Minecraft";
}

.return-to-main {
    position: absolute;
    text-decoration: underline;
}

.return-to-main:before {
    content: "< ";
}

.header-contain {
    text-align: center;
    background-image: url('images/backgrounds/SoWModTeam_Render.png');
    padding: 1in;
}

.sacr-section {
    text-align: center;
    background-color: grey;
    margin-left: 1in;
    margin-right: 1in;
}

.sacr-col-contain {
    display: flex;
}

.flexbox-2 {
    flex-basis: 50%;
}

.sacr-desc {
    margin-left: .5in;
    text-align: center;
    margin-right: .5in;
}

.sacr-flex-container div {
    display: flex;
    text-align: center;
    justify-content: center;
}

.sacr-flex-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);

    padding-top: .25in;
    padding-bottom: .25in;
}

.diagram-item {
    letter-spacing: 0px;
    background-color: grey;
    display: inline-block;
    image-rendering: crisp-edges;
    background-size: cover;
    content: "";
    color: rgba(242, 242, 242, 0.0);

    background-color: rgba(0, 0, 0, 0.0);
    transition-duration: 250ms;
    cursor: pointer;
    box-shadow: 0 0 0 inset rgba(0, 0, 0, 0.5);
}

.diagram-item:hover {
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: multiply;
    color: rgba(242, 242, 242, 1.0);

    box-shadow: 1px 3px 5px inset rgba(0, 0, 0, 0.5);
}

.diagram-item span {
    pointer-events: none;

    font-family: "Noto Sans JP", sans-serif;
}

.w-sml {
    width: 50px;
}

.w-mid {
    width: 100px
}

.w-lrg {
    width: 150px;
}

.h-sml {
    height: 50px;
}

.h-mid {
    height: 100px;
}

.h-lrg {
    height: 150px;
}

.button {
    width: 125px;
    background-color: rgb(124, 59, 217);
    background-image: linear-gradient(42deg,
            rgb(107, 95, 124) 0%,
            rgba(146, 59, 217, 1) 100%);
    background-blend-mode: overlay;
    display: inline-block;
    padding-top: 5px;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #f5f5f5;
    color: white;
    font-family: "Noto Sans JP";
    cursor: pointer;
}
.button:hover {
    border-color: rgb(124, 59, 217);
    background-color: #f5f5f5;
    color: rgb(124, 59, 217);
}